.lab__about {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.1px;
  color: #000d26;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: bottom;
  position: relative;
}

.lab__about::before {
  width: 24px;
  height: 24px;
  position: absolute;
  content: "";
  top: 0;
  left: -35px;
  background-image: url('../../../images/lab/moleculer.svg');
  background-color: transparent;
}
