.lab {
  max-width: calc(92.5% - 165px);
  margin: 0 auto;
  padding: 80px 0;
}


/* @media screen and (max-width: 1439px) {
  .lab {
    max-width: calc(100% - 96px);
  }
}


@media screen and (max-width: 767px) {
  .lab {
    max-width: calc(100% - 32px);
    padding: 60px 0;
  }
} */
